/*** sizes ***/
/*** colors ***/
/*** fonts ***/
/*** style ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
}

.main-container {
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  position: relative;
}

header {
  max-height: 150px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  padding: 15px 0;
}
header nav .return {
  display: none;
}
header nav .logo {
  align-self: center;
  display: block;
  background: url("../images/logo/ohmyfood.png") no-repeat center;
  width: 100%;
  height: 35px;
  background-size: 200px 35px;
}

main {
  padding-bottom: 144px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 144px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #353535;
  color: white;
}

/*** colors ***/
/*** size ***/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5019607843);
  animation: hide 0.1s ease 1.5s forwards;
}
.loader img {
  animation: loader 0.6s ease infinite;
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  90% {
    transform: scale(0.9);
  }
  95% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header .location {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.0823529412);
}
header .location i {
  margin-right: 15px;
  color: #353535;
}
header .location .location-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

section:nth-child(2n+1) {
  background-color: #F6F6F6;
}

.booking {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  text-align: center;
}
.booking h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
  max-width: 80%;
}
.booking p {
  font-weight: 300;
  font-size: 18px;
  max-width: 90%;
  margin-bottom: 30px;
  color: #353535;
}
.booking button {
  position: relative;
  padding: 16px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1450980392);
  transition: all 0.2s;
}
.booking button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2078431373);
}
.booking button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.0823529412);
}

.section_title {
  font-weight: 700;
  font-size: 24px;
  width: 85%;
}

.howto {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
  counter-reset: step;
}
.howto .step {
  width: 85%;
  max-width: 400px;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  padding: 30px;
  position: relative;
  counter-increment: step;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.0823529412);
}
.howto .step i {
  color: #7E7E7E;
  width: 20%;
  text-align: center;
}
.howto .step p {
  font-weight: 500;
  font-size: 16px;
}
.howto .step::before {
  content: counter(step);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
}

.restaurants {
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.restaurants .card {
  width: 90%;
  max-width: 340px;
  height: 250px;
  border-radius: 15px;
  margin-top: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.062745098);
  transition: all 0.15s linear;
  color: #000;
  position: relative;
}
.restaurants .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2509803922);
}
.restaurants .card:visited {
  color: #000;
}
.restaurants .card.new:after {
  content: "Nouveau";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  background-color: #99E2D0;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  width: 80px;
  height: 30px;
  top: 13px;
  right: 13px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0823529412);
}
.restaurants .card .card-img {
  width: 100%;
  max-height: calc(100% - 70px);
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 70px;
}
.restaurants .card .card-content .card-description .card-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}
.restaurants .card .card-content .card-description .card-location {
  font-weight: 300;
  font-size: 17px;
}
.restaurants .card .card-content input {
  visibility: hidden;
}
.restaurants .card .card-content label {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
}
.restaurants .card .card-content label img {
  position: absolute;
  transition: opacity 0.15s ease-in;
  cursor: pointer;
}
.restaurants .card .card-content label .unchecked {
  color: #000;
}
.restaurants .card .card-content label .checked {
  opacity: 0;
}
.restaurants .card .card-content input:checked + label .checked {
  opacity: 1;
}

@media (min-width: 767.98px) {
  header .location {
    box-shadow: none;
  }
  .howto {
    display: grid;
    grid-template-areas: "a a a a a a a a" "b b b b c c c c" ". . d d d d . .";
    grid-template-columns: repeat(8, 1fr);
  }
  .howto .section_title {
    grid-area: a;
    width: 95%;
    justify-self: center;
  }
  .howto .step:nth-of-type(1) {
    grid-area: b;
    justify-self: center;
  }
  .howto .step:nth-of-type(2) {
    grid-area: c;
    justify-self: center;
  }
  .howto .step:nth-of-type(3) {
    grid-area: d;
    justify-self: center;
  }
  .restaurants {
    display: grid;
    grid-template-areas: "a a a" "b c d" "e f g";
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: repeat(3, min-content);
    padding: 30px 7.5%;
  }
  .restaurants .section_title {
    grid-area: a;
    width: 95%;
    justify-self: center;
  }
  .restaurants .card {
    max-width: 430px;
  }
  .restaurants .card:nth-of-type(1) {
    grid-area: b;
    justify-self: center;
  }
  .restaurants .card:nth-of-type(2) {
    grid-area: d;
    justify-self: center;
  }
  .restaurants .card:nth-of-type(3) {
    grid-area: e;
    justify-self: center;
  }
  .restaurants .card:nth-of-type(4) {
    grid-area: g;
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  .main-container .howto {
    display: grid;
    grid-template-areas: "a a a" "b c d";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content;
    padding: 30px 7.5%;
    justify-content: space-between;
    height: fit-content;
  }
  .main-container .howto .section_title {
    margin-bottom: 30px;
  }
  .main-container .restaurants .card {
    max-width: 520px;
  }
}

/*# sourceMappingURL=style.css.map */
