/*** sizes ***/
/*** colors ***/
/*** fonts ***/
/*** style ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
}

.main-container {
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  position: relative;
}

header {
  max-height: 150px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  padding: 15px 0;
}
header nav .return {
  display: none;
}
header nav .logo {
  align-self: center;
  display: block;
  background: url("../images/logo/ohmyfood.png") no-repeat center;
  width: 100%;
  height: 35px;
  background-size: 200px 35px;
}

main {
  padding-bottom: 144px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 144px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
footer .footer-links a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
footer .footer-links a i {
  color: #fff;
  width: 25px;
}
footer .footer-links a.highlight {
  font-weight: 500;
  font-size: 16px;
}
footer .footer-logo {
  height: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-logo img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  height: 100%;
}

@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
  }
  footer .footer-logo {
    margin-bottom: 0;
    width: 15%;
    max-width: 240px;
    padding-left: 5%;
  }
  footer .footer-links {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: row;
    width: 70%;
    max-width: 900px;
    justify-content: space-between;
  }
}
/*** sizes ***/
/*** colors***/
header nav .return {
  display: block;
  text-align: center;
  width: 40px;
}
header nav .return i {
  color: #000;
}
header nav .logo {
  width: calc(100% - 80px);
  background-image: url("../../images/logo/ohmyfood.png");
}

.bg-image {
  width: 100%;
  height: 275px;
}
.bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  visibility: hidden;
}

.menu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  margin: 0;
}
.menu::before {
  content: "";
  display: block;
  position: absolute;
  height: 30px;
  top: -30px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
}
.menu .restaurant {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}
.menu .restaurant h1 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: 28px;
}
.menu .restaurant input:checked + label .checked,
.menu .restaurant label:hover .checked {
  opacity: 1;
}
.menu .restaurant label {
  display: flex;
  position: relative;
  width: 22px;
  height: 22px;
  margin: 0 20px;
}
.menu .restaurant label img {
  position: absolute;
  transition: opacity 0.15s ease-in;
  cursor: pointer;
}
.menu .restaurant label .unchecked {
  color: #000;
}
.menu .restaurant label .checked {
  opacity: 0;
}
.menu .category {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  margin: 30px 0;
}
.menu .category.fadein.starter {
  animation: fadein 0.4s ease-in;
}
.menu .category.fadein.main {
  animation: fadein 0.4s ease-in 0.15s;
}
.menu .category.fadein.dessert {
  animation: fadein 0.4s ease-in 0.3s;
}
.menu .category .category-title {
  text-transform: uppercase;
  position: relative;
  height: 27px;
}
.menu .category .category-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}
.menu .category input:checked + .card .select {
  transform: translateX(0%);
  width: 70px;
}
.menu .category .card {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.062745098);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu .category .card .clickable {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu .category .card .card-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.menu .category .card .card-content .title {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 50%;
}
.menu .category .card .card-content .details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu .category .card .card-content .details .desc {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .category .card .card-content .details .price {
  font-size: 15px;
  font-weight: 700;
}
.menu .category .card .select {
  width: 0;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transform: translateX(100%);
  transition: all 0.2s linear;
}
.menu .category .card .select i {
  color: #fff;
}
.menu .category .card:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1450980392);
}
.menu .category .card:hover .select {
  transform: translateX(0%);
  width: 70px;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu button {
  position: relative;
  padding: 16px 60px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1450980392);
  transition: all 0.2s;
}
.menu button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2078431373);
}
.menu button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.0823529412);
}

@media (min-width: 767.98px) {
  .menu {
    width: 90%;
    margin: 0 auto;
  }
  .menu .restaurant {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .menu {
    max-width: 1055px;
  }
  .menu .category {
    max-width: 750px;
    margin: 30px auto;
  }
}/*# sourceMappingURL=restaurant.css.map */