@import "../skeleton/_skeleton.scss";

/*** sizes ***/
$return-width: 40px;

header {
  nav {
    .return {
      display: block;
      text-align: center;
      width: $return-width;

      i {
        color: #000;
      }
    }

    .logo {
      width: calc(100% - $return-width * 2);
      background-image: url("../../images/logo/ohmyfood.png");
    }
  }
}
